<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="Location"/>
            <button>Search</button>
        </form>
        <p1 id="msg-1"></p1> <br>
        <br>
        <p2 id="msg-2"></p2>
    </div>

    {{>footer}}
</body>
<script src="/js/app.js"></script>
</html>